@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: #5C9461;
}

.container{
    width: 360px;
    background-color: #5C9461;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 45px 10px 15px;
}

header .img-header{
    width: 200px;
    height: 200px;
    background-image: url(img/logo.png);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px white;
}

header p{
    font-size: 10px;
    font-weight:600;
    text-align: center;
    width: 200px;
    margin: 20px 0;
    color: white;
}

header .item-header{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.item-header a{
    transition: all 0.2s ease-in-out;
}

.item-header a:hover{
    transform: scale(1.25);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
}

main a{
    width: 290px;
    height: 55px;
    margin: 15px 0;
    text-decoration: none;
    color: black;
}

main section{
    background-color: #99E89D;
    border-radius: 8px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

main section:hover{
    box-shadow: none;
    border: 2px solid #033D1A;
}

main section:nth-child(4){
    height: 134px;
}

section .item-kotak{
    width: 42px;
    height: 42px;
    background-color: white;
    box-shadow: 0 0 3px #033D1A;
    border-radius: 8px;
}

section .item-section{
    width: 238px;
    text-align: center;
    font-weight: bold;
}

section.youtube-embed{
    width: 290px;
    height: 180px !important;
    margin: 15px 0 50px;
}

.personal{
    background-image: url(img/personal.png);
    background-size: cover;
    background-position: -1px 0.7px;
}

.tiktok{
    background-image: url(img/tiktok.png);
    background-size: 117px;
    background-position: 0.3px -2px;
}

.coffe{
    background-image: url(img/coffe.png);
    background-size: 35px;
    background-position: 3px -2px;
}

footer{
    width: 360px;
    background-color: #384d3a;
    position: fixed;
    right: 1;
    bottom: 0;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

footer p, footer img{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
